@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #a0a0a0;
    font-family: sans-serif;
    line-height: 1.6;
}

.main-container {
    display: flex;
    gap: 5rem;
    max-width: 1200px;
    background-color: #1e1e1e;
    padding-top: 5rem;
    margin: auto;
}

.bold-text {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    color: #e0e0e0;
}

.page-btn {
    background-color: #1e1e1e;
    border-radius: 4px;
    color: #ffbf00;
    padding: 0.5rem 1rem;
    display: inline-block;
}

/* Sidebar */

.sidebar {
    height: 100%;
    background-color: #2a2a2a;
    width: 25rem;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.main-content {
    height: 100%;
    width: 50rem;
    background-color: #2a2a2a;
    border-radius: 1rem;
}

.divider {
    width: 19rem;
    border-top: 1px solid #3a3a3a;
    margin-top: 3rem;
    margin-left: 2rem;
}

.profile {
    text-align: center;
    margin-top: 2rem;
}

.profile img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 4px solid #1e1e1e;
}

.contact {
    margin: 2rem 2rem;
}

.contact a {
    text-decoration: none;
}

.value {
    font-size: 1.2rem;
    color: #e0e0e0;
}

.anchor {
    font-size: 1.3rem;
    font-family: Poppins, sans-serif;
}

.email,.phone {
    padding-bottom: 1rem;
}

.social {
    margin-left: 5.5rem;
    margin-top: 2rem;
}

.social a {
    text-decoration: none;
}

.social img {
    height: 2.5em;
    width: 2.5rem;
    margin: 0 1.5rem;
    filter: black;
    transition: filter 0.3 ease;
}

.social img:hover {
    filter: grayscale(1) invert(0.7);
}

/* Main Content */

.main-content .divider {
    width: 42rem;
    margin-top: 0;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin: 1.5rem 2.6rem;
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #e0e0e0;
}

.navigation a:hover {
    color: #ffbf00;
}

.main-content .bold-text {
    margin-left: 1rem;
    
}

.information {
    margin: 0 2rem;
    font-size: 1.5rem;
    text-align: justify;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.item {
    height: 8rem;
    width: 8rem;
    background-color: #1e1e1e;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 0.5rem;
    transition: transform 0.3s ease;
}

.item p {
    font-size: 1.2rem;
    font-weight: 500;
}

.item img {
    height: 4rem;
    width: 4rem;
}

.item img:hover {
    filter: grayscale(1) invert(0.7);
    cursor: pointer;
}

.education {
    margin: 0 2rem;
    text-align: justify;
}

.year {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.degree {
    font-size: 1.4rem;
    color: #e0e0e0;
    margin: 0.5rem 0;
}

.university {
    font-style: italic;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.info {
    font-size: 1.1rem;
}

.portfolio .card {
    margin: 2rem 2rem;
}

.gmail {
    width: 90%;
    height: 25rem; 
    overflow: hidden;
    margin: 0 2rem;
}

.gmail iframe {
    width: 200%;
    height: 140%;
    transform: scale(0.5);
    transform-origin: 0 0;
    border-radius: 1rem;
    background-color: #ffffff;
    margin-top: 2rem;
}

.card {
    height: 34rem;
    width: 42rem;
    border: 2px solid #3a3a3a;
    border-radius: 1rem;
    text-align: center;
    padding: 0;
    position: relative;
    margin: auto;
    background-color: #1e1e1e;
    
}

.card .website-info {
    margin: 0 1rem 2rem;
    font-size: 1.2rem;
}

.card .website-name {
    font-size: 2rem;
    position: absolute;
    top: 20rem;

}

.card a {
    color: #e0e0e0;
    display: flex;
    justify-content: center;
}

.card a:hover {
    color: #ffbf00;
}